/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/***********
  GENERAL
***********/

* {
  background: rgba(0,0,0,0.05);
  font-family:  Calibri, 'Times New Roman', serif;
  font-weight: 400;
}

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
}

form label {
    padding: 4px 8px;
}

input[type="submit"] {
  border-radius: 5px;
  font-size: 16px;
  height: 30px;
  width: 100px;
}

.field_with_errors > label {
    background: none repeat scroll 0 0 #FF0000;
    color: #FFFFFF;
}

.field_with_errors {
  background: #fff !important;
}

.cancel_button {
  width: 200px !important;
}

/***********
  HEADER
***********/
header.row {
  margin-bottom: 20px;
}

#navigation {
  background-color: rgba(0,0,0,0.25);
  font-size: 18px;
  line-height: 40px;
  min-height: 40px;
}

#navigation span {
  display: inline-block;
  text-transform: uppercase;
}

#navigation span a {
  display: inline-block;
  height: 100%;
  padding: 0px 10px;
}

.user-info {
  padding: 5px 0;
  border-bottom: 1px solid #666;
}

/***********
  BODY
***********/
#show-ride p {
  height: 16px;
  line-height: 16px;
  font-size: 12px;
}

#show-ride img {
  margin-bottom: 20px;
}

/***********
  FOOTER
***********/
